# 1. ИГНОРИРОВАНИЕ ПАПКИ С БЭКЕНДОМ API
########################################
# Исключаем всю папку с кодом, который должен быть в отдельном репозитории
auth_api/

# 2. ИГНОРИРОВАНИЕ ЗАВИСИМОСТЕЙ NODE.JS
########################################
# Исключаем папку с установленными библиотеками
node_modules/

# Исключаем файл фиксации зависимостей (нужен только в репозитории API)
package-lock.json
check.txt

# 3. СИСТЕМНЫЕ ФАЙЛЫ
########################################
# Исключаем файлы ОС
.DS_Store
Thumbs.db